<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>Donetsk</string>
		<key>lat</key>
		<real>48.016305</real>
		<key>long</key>
		<real>37.804436</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Uzhorod</string>
		<key>lat</key>
		<real>48.62063</real>
		<key>long</key>
		<real>22.289079</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Cherkasy</string>
		<key>lat</key>
		<real>49.4458</real>
		<key>long</key>
		<real>32.057288</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Chornobyl</string>
		<key>lat</key>
		<real>51.272506</real>
		<key>long</key>
		<real>30.224203</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Sumy</string>
		<key>lat</key>
		<real>50.90781</real>
		<key>long</key>
		<real>34.797391</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Dnipropetrovsk</string>
		<key>lat</key>
		<real>48.462298</real>
		<key>long</key>
		<real>35.016149</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Odessa</string>
		<key>lat</key>
		<real>46.481726</real>
		<key>long</key>
		<real>30.72346</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Kharkiv</string>
		<key>lat</key>
		<real>49.991654</real>
		<key>long</key>
		<real>36.234471</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Kiev</string>
		<key>lat</key>
		<real>50.454976</real>
		<key>long</key>
		<real>30.526937</real>
	</dict>
	<dict>
		<key>city</key>
		<string>Lviv</string>
		<key>lat</key>
		<real>49.835422</real>
		<key>long</key>
		<real>24.034018</real>
	</dict>
</array>
</plist>
